body {
    margin: 0;
    padding: 0;
    background: none;
}

#screen {
    /*background: #333333;*/
    height: 100vh;
    background-color: #0d2636;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.social-media {
    /*border: solid deepskyblue;*/
    border-radius: 15px;
    min-height: 21rem;
    max-height: 42rem;
    width: 31rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgba(234, 232, 232, 0.87);
}


/*------------------------------------------------------------------*/


#image {
    /*border: solid deepskyblue;*/
    border-radius: 15px;
    min-height: 10rem;
    max-height: 20rem;
    width: 30rem;
    margin: 0.5rem;

}

#social-media-image {
    border-radius: 15px;
    min-height: 10rem;
    max-height: 20rem;
    width: 30rem;
}

/*------------------------------------------------------------------*/


.buttons {
    /*border: solid deepskyblue;*/
    border-radius: 15px;
    min-height: 5rem;
    max-height: 20rem;
    width: 30rem;
    margin: 0.5rem;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


/*------------------------------------------------------------------*/


#like-button {
    border: none;
    border-radius: 0.5rem;
    /*align-items: center;*/
    height: 2.5rem;
    width: 6rem;
    color: white;
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#like-button:hover {
    background-color: #0066FF;
    /*color: white;*/
    transition: ease-in-out;
    transition-duration: 250ms;
}

#like-img {
    height: 26px;
}


/*------------------------------------------------------------------*/

.dropdown-comment-container {
    position: relative;
    display: inline-block;
}

.comment-section-form {
    display: none; /* Hidden by default */
    position: absolute;
    background-color: white;
    min-width: 20rem;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    
}

/* Comment Button */
#comment-section {
    border: none;
    border-radius: 0.5rem;
    /*align-items: center;*/
    height: 2.5rem;
    width: 10rem;
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Comment Button Hover*/
#comment-section:hover {
    background-color: #0066FF;
    /*color: white;*/
    transition: ease-in-out;
    transition-duration: 250ms;
}

/* Comment Button Image */
#comment-img {
    height: 26px;
}

/* Comment Input Section */
#comment-input  {
    border: none;
    border-radius: 0.5rem;
    outline: none;
    /*align-items: center;*/
    height: 2.5rem;
    width: 18rem;
    background-color: rgba(234, 232, 232, 0.87);
    color: black;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
}

/* Comment Send Button */
#comment-send-btn {
    border: none;
    border-radius: 0.5rem;
    /*align-items: center;*/
    height: 2.5rem;
    width: 3rem;
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#comment-send-btn:hover {
    background-color: #0066FF;
    /*color: white;*/
    transition: ease-in-out;
    transition-duration: 250ms;
}

#comment-send-btn-img {
    height: 24px;
}


/*------------------------------------------------------------------*/


#share-button {
    border: none;
    border-radius: 0.5rem;
    /*align-items: center;*/
    height: 2.5rem;
    width: 6rem;
    color: white;
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#share-button:hover {
    background-color: #0066FF;
    /*color: white;*/
    transition: ease-in-out;
    transition-duration: 250ms;
}

#share-img {
    height: 26px;
}


/*------------------------------------------------------------------*/



/* Comment Render Section */
.comment-render {
    border: solid dodgerblue;
    border-radius: 10px;
    min-height: 5rem;
    max-height: 20rem;
    width: 30rem;
    margin: 0.5rem;
}

/* Remove Comment Button */
#remove-comment {
    border: none;
    border-radius: 0.5rem;
    /*align-items: center;*/
    height: 2.5rem;
    width: 6rem;
    color: white;
    background-color: dodgerblue;
}

/* remove Comment Button*/
#remove-comment:hover {
    background-color: #0066FF;
    /*color: white;*/
    transition: ease-in-out;
    transition-duration: 250ms;
}