body {
  margin: 0;
  padding: 0;
  background: none;
}

#screen {
  height: 100vh;
  background-color: #0d2636;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.social-media {
  border-radius: 15px;
  min-height: 21rem;
  max-height: 42rem;
  width: 31rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: rgba(234, 232, 232, 0.87);
}

/*------------------------------------------------------------------*/

#image {
  border-radius: 15px;
  min-height: 10rem;
  max-height: 20rem;
  width: 30rem;
  margin: 0.5rem;
}

#social-media-image {
  border-radius: 15px;
  min-height: 10rem;
  max-height: 20rem;
  width: 30rem;
}

/*------------------------------------------------------------------*/

.buttons {
  border-radius: 15px;
  height: 5rem;
  width: 30rem;
  margin: 0.5rem;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/*------------------------------------------------------------------*/

#like-button {
  border: none;
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 6rem;
  color: white;
  background-color: dodgerblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#like-button:hover {
  background-color: #0066ff;
  transition: ease-in-out;
  transition-duration: 250ms;
  cursor: pointer;
}

#like-img {
  height: 26px;
}

/*------------------------------------------------------------------*/

/* Comment Button */
#comment-section {
  border: none;
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 10rem;
  background-color: dodgerblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Comment Button Hover*/
#comment-section:hover {
  background-color: #0066ff;
  transition: ease-in-out;
  transition-duration: 250ms;
  cursor: pointer;
}

/* Comment Button Image */
#comment-img {
  height: 26px;
}

#comment-section-form {
  margin-top: 0.5rem;
  background-color: white;
  height: 4rem;
  width: 480px;
  padding: 4px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border-radius: 0.5rem;
  width: fit-content;
  align-content: center;
}

.hidden {
  display: none;
}

form {
  width: 466px;
  display: flex;
  border-radius: 0.5rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 4px;
}

/* Comment Input Section */
#comment-input {
  border: none;
  border-radius: 0.5rem;
  outline: none;
  height: 2.5rem;
  width: 400px;
  background-color: rgba(234, 232, 232, 0.87);
  color: black;
  text-align: center;
}

#comment-input:hover {
  outline-style: dotted;
  outline-color: #0066ff;
}

/* Comment Send Button */
#comment-send-btn {
  border: none;
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 3rem;
  background-color: dodgerblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#comment-send-btn:hover {
  background-color: #0066ff;
  transition: ease-in-out;
  transition-duration: 250ms;
  cursor: pointer;
}

#comment-send-btn-img {
  height: 24px;
}

/*------------------------------------------------------------------*/

#share-button {
  border: none;
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 6rem;
  color: white;
  background-color: dodgerblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#share-button:hover {
  background-color: #0066ff;
  transition: ease-in-out;
  transition-duration: 250ms;
  cursor: pointer;
}

#share-img {
  height: 26px;
}

/*------------------------------------------------------------------*/

/* Comment Render Section */
.comments-render {
  margin-top: 0.5rem;
  height: 4rem;
  width: 466px;
  padding: 4px;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.comments {
  border: none;
  border-radius: 0.5rem;
  outline: none;
  height: 2.5rem;
  width: 400px;
  background-color: rgba(234, 232, 232, 0.87);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
} 

/* Remove Comment Button */
#remove-comment {
  border: none;
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 3rem;
  /* background-color: dodgerblue; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(215, 46, 46);
}

/* remove Comment Button*/
#remove-comment:hover {
  background-color: rgb(176, 44, 44);
  transition: ease-in-out;
  transition-duration: 250ms;
  cursor: pointer;
}

#remove-comment-img {
  height: 24px;
}