* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    height: 100vh;
}

body {
    font-family: "PT Sans", sans-serif;
}

.screen-div {
    display: flex;
    flex-direction: row;
    justify-content: start;

}

.store-list {
    width: 20rem;
}

#map {
    width: 100vh;
}